.login-body{
    background:#f0f0f0;
}
.c{
    padding-top:50px;
}
.login-wrap{
    position: relative;
    margin:0 auto;
    width:1092px;
    background:white;
    height:510px;
    border-radius:10px;
    overflow: hidden;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}

p,span,div{
  font-family: 'Lato', sans-serif;
}

.carouselParentWrap{
    width: 100%;
    height: 510px;
    position: relative;
    background: #444444;
    overflow: hidden;
}

.carousel,.carousel-inner{
   width: 100%;
   height: 100%;
   position: relative; 
}

.carouselParentWrap .carousel-item{
height:100%;
position: relative;
width: 100%;
overflow: hidden;
}

.carouselParentWrap .carousel-item .img-container{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: auto 100%;
    background-position: center center;
    opacity: 0.3;
}