.error-box-wrap{
    margin:10px;
    .error-box-content{
        background:white;
        position: relative;
        min-width:300px;
        min-height:200px; 
        padding:20px;
        margin: 0 auto;

        p{
            font-size:9px;
        }
    }
}