<header>
  
      <div class="segment-first">
          <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <span class="brand" routerLink="dashboard"></span>
          </div>
          <div class="col-md-10">
              <div class="align-right" style="margin-top:10px;">
                  <div class="inline-block console-base-one">
                    <a><span class="icon icon-search"></span></a>
                    <a><span class="icon icon-notify"></span></a>
                    <a><span class="icon icon-settings"></span></a>
                  </div>
                  <div class="inline-block">
                      <app-user-welcome (whenSignOut)="signout($event)"></app-user-welcome>  
                  </div>
              </div>
          </div>
        </div>
      </div>
      </div>
      <div class="segment-second">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <br/>
                    <small>Tab options are coming soon here!</small>
                  </div>
                  <div class="col align-right" style="padding-top:25px;">
                    <button class="btn btn-success roundBtn" (click)="uploadAction($event)">&nbsp;&nbsp;&nbsp;Upload&nbsp;&nbsp;&nbsp;</button>
                  </div>
            </div>
        </div>
        
      </div>
  
</header>