<header>
  
      <div class="segment-first">
          <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <span class="brand"></span>
          </div>
          <div class="col-md-10">
              <div class="align-right" style="margin-top:10px;">
                  <div class="inline-block console-base-one">
                    <a><span class="icon icon-search"></span></a>
                    <a><span class="icon icon-notify"></span></a>
                    <a><span class="icon icon-settings"></span></a>
                  </div>
                  <div class="inline-block">
                      <app-user-welcome></app-user-welcome>  
                  </div>
              </div>
          </div>
        </div>
      </div>
      </div>
      <div class="segment-second"></div>
  
</header>