<!-- <div class="select-box inline-block">
  <a class="btn btn-sm btn-outline-secondary roundBtn" href="#">
    <span class="inline-block" style="transform:translateY(-2px);">Last 3 months</span>
    <span class="icon icon-arrow-green" style="vertical-align:middle; margin-left:5px; width:10px; height:10px;"></span>
  </a>
  <div class="drop-down dropdown-menu roundSquare">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> -->

<div ngbDropdown class="d-inline-block">
    <button class="btn btn-sm btn-outline-secondary roundBtn" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>Action - 1</button>
      <button ngbDropdownItem>Another Action</button>
      <button ngbDropdownItem>Something else is here</button>
    </div>
  </div>