<div clas="file-drag-drop-wrap">
  <br/><br/>
  <ng-container *ngIf="tplChoice==='ARTICLE'" [ngTemplateOutlet]="tplEditor"></ng-container>
  <ng-container *ngIf="tplChoice!=='ARTICLE'" [ngTemplateOutlet]="tplFileUpload"></ng-container>
</div>

<div class="upload-states-panel">
<div class="container-fluid"></div>
</div>

<ng-template #tplFileUpload>    
    <div class="roundSquare align-center appear" style="padding:50px; background:#fff; width:700px; position: relative; margin: 0 auto;">
      <h4 class="text-semi-light soft-heading-1">
        Drag and drop files here
        <span *ngIf="tplChoice==='IMAGE'" class="icon icon-l1 icon-photo" style="display:inline-block; transform:translateY(5px)"></span>
        <span *ngIf="tplChoice==='VIDEO'" class="icon icon-l1 icon-play" style="display:inline-block; transform:translateY(5px)"></span>
      </h4>  
      <div class="drag-drop-area align-center roundSquare {{getOperationClass()}}" (drop)="dropTest($event)" (dragover)="dragoverTest($event)">
          <ng-container [ngTemplateOutlet]="bigCircle"></ng-container>
      </div>      
      <div class="align-center">
        <div style="position: relative; margin:0 auto; width:240px;">          
          <div class="position:absolute; top:0px; left:50%;">
            <button class="btn btn-outline-success roundBtn bigger-padding" (click)="openSelectWindow()">BROWSE FROM YOUR COMPUTER</button>
          </div> 
          <ng-container [ngTemplateOutlet]="inputTypeFile"></ng-container>         
        </div>
      </div>
      <br/>
      <div class="align-center">
        <button class="btn btn-outline-success roundBtn bigger-padding" sty>UPLOAD THROUGH LINK</button>
      </div>
    </div>
    <hr/>
    <ng-container [ngTemplateOutlet]="uploadStatusTPL"></ng-container>
</ng-template>

<ng-template #tplEditor>
  <div class="roundSquare align-left appear" style="padding:50px; background:#fff; width:700px; position: relative; margin: 0 auto;">
    <div *ngIf="!articlePreviewOn && !articlePublished && !articlePublishError" class="editor-container">
      <h4>Create new content</h4>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Title</label>
          <input [(ngModel)]="articleTitle" type="text" class="form-control" name="articleTitle" id="articleTitle" placeholder="Enter title of the article">
          <small id="articleTitleHelp" class="form-text text-muted">Please don't leave title blank</small>
        </div>
    </form>   
    <hr/>
    <ckeditor [editor]="Editor" [(ngModel)]="editorData"></ckeditor> 
    <br/>
    <form>
        <div class="form-group">
            <label for="tagsInputField">Tags</label>
            <input [(ngModel)]="articleTags" type="text" class="form-control" name="articleTags" id="articleTags" placeholder="Enter tags of the article in comma separated pattern">
        </div>  
    </form>
    <hr class="bg-success"/>
    <div class="">
      <div class="row">
        <div class="col">
          <small>Status : Saved at 10:10:05 AM</small> 
        </div>
        <div class="col align-right">
            <div class="btn-group">
                <button class="btn btn-sm btn-outline-secondary" routerLink="/admin-dashboard">CANCEL</button>
                <button class="btn btn-sm btn-outline-secondary" (click)="articlePreview(true)">PREVIEW</button>
                <button class="btn btn-sm btn-success" (click)="articlePublish();">PUBLISH</button>
            </div>
         </div>
      </div>
      
    </div>
    </div>
    <div class="preview" *ngIf="articlePreviewOn">
      <div class="btn-group"><button class="btn btn-sm btn-success" (click)="articlePreview(false)">back</button></div>
      <hr/>
      <h2 class="text-success">{{articleTitle}}</h2>
      
      <div class="paper">
        <div [innerHTML]="aertclePreviewHTML"></div>
      </div>
      <br/>
      <div class="btn-group"><button class="btn btn-sm btn-success" (click)="articlePreview(false)">back</button></div>
      
    </div>
    <div class="article-complete" *ngIf="!articlePreviewOn && articlePublished">
      <div class="align-center">
        <br/><br/><br/>
        <i class="icon icon-l5 icon-tick"></i>
        <br/><br/><br/>
        <h3 class="text-dark">Congrats!</h3>
        <h5 class="text-secondary">Your article has been published</h5>
        <br/><br/>
        <a routerLink="/admin-dashboard" class="btn btn-outline-success roundBtn">Go to dashboard</a>
      </div>
    </div>
    <div class="article-error" *ngIf="!articlePreviewOn && !articlePublished && articlePublishError">
        <app-failure-box (action)="resetArticleWindow()" [ctaText]="'Got it! Go for a fresh attempt'" [errorObj]="articlePublishErrorObj"></app-failure-box>
    </div>
  </div>
</ng-template>

<ng-template #bigCircle>
  <div class="upload-sign" style="display:inline-block; margin-top: 20px;">
      <div class="svg-container">
          <svg height="120" width="120">
            <circle cx="60" cy="60" r="60"  fill="#383838" />
          </svg>
      </div>
    <div class="icon-holder align-center"><i class="icon icon-upload icon-l5"></i></div>
  </div>
  
</ng-template>


<ng-template #uploadStateMonitorTPL>
  <app-upload-state-monitor></app-upload-state-monitor>
</ng-template>

<ng-template #inputTypeFile>
  <input #fileSelectInput type='file' (change)="inputFileSelect($event)" name='input_file_field' multiple="true" style="position:absolute; top:0px; left:0px; display:none;"/>
</ng-template>

<ng-template #uploadStatusTPL>
  <div class="upload-status-pipe container">
    <ng-container *ngFor="let item of fileUploadPipe">
      <app-upload-status-box *ngIf="item" [info]="item" (onActionComplete)=onActionComplete($event)></app-upload-status-box>
    </ng-container>
  </div>
</ng-template>