<div class="container-fluid">
  <hr style="opacity:0;"/>
  <div class="dashboard-box" *ngIf="statisticsTimeIntervalOptions.length>0">
      <div class="row">
          <div class="col-md-6">
            <h6>Analytics Overview</h6>
          </div>
          <div class="col-md-6 align-right">
            <app-select-box (whenSelect)="onTImeSlotSelected($event)" [options]="statisticsTimeIntervalOptions"></app-select-box>
          </div>
        </div>
        <div class="row-content" >
          <div class="row">
            <ng-container [ngTemplateOutlet]="StatisticsCakeSection"></ng-container>
          </div>
          
        </div>
  </div>
  <div class="dashboard-box" *ngIf="statisticsTimeIntervalOptions.length===0 && statisticsErrorObject">
    <app-failure-box 
    [errorObj]="statisticsErrorObject"
    [ctaText]="'Retry'"
    (action)="populateStatisticsTimeSlot()"
    >      
    </app-failure-box>
  </div>
  <div class="dashboard-box">
    <h6>Avarage view duration of total content</h6>
    <div class="roundSquare" style="background:white;">
        <div class="chart-container" style="padding:1rem;">
          <highcharts-chart
          [Highcharts]="Highcharts" 
          [constructorType]="chartConstructor"
          [options]="megaChartOptions"
          >

          </highcharts-chart> 
        </div>
    </div>
  </div>

  <div class="dashboard-box">
    <div class="row">
      <div class="col-md-8">
        <h6>Most searched topic</h6>
        <div class="roundSquare" style="background:white;  padding:10px; height:343px;">
          Coming soon!
        </div>
      </div>
      <div class="col-md-4">
        <h6>Trending</h6>
        <div class="roundSquare" style="background:white; padding:10px;">
          <app-featured-data-block [data]="item" *ngFor="let item of trendingData"></app-featured-data-block>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-box">
      <div class="col-md-12">
          <h6>Most popular video</h6>
          <div class="roundSquare" style="background:white;  padding:10px;">
              <app-featured-data-block [data]="item" *ngFor="let item of mostPopularVideos"></app-featured-data-block>
          </div>
        </div>
  </div>

  <div class="dashboard-box">
      <div class="row">
          <div class="col-md-8">
            <h6>Most Popular Articles</h6>
            <div class="roundSquare" style="background:white; padding:10px;">
              <div class="row">
              <div class="col-md-6" *ngFor="let item of mostPopularArticles">
                  <app-featured-data-block [data]="item" ></app-featured-data-block>
              </div>        
            </div>        
            </div>
          </div>

          <div class="col-md-4">
            <h6>Most Popular Images</h6>
            <div class="roundSquare" style="background:white; padding:10px;">
              <app-featured-data-block [data]="item" *ngFor="let item of mostPopularImages"></app-featured-data-block>
            </div>
          </div>
        </div>
  </div>
  
</div>




<ng-template #StatisticsCakeSection>
  <div class="col-md-3" *ngFor="let cake of statisticsCakeArray; let i=index">
    <app-statistics-cake id="{{i}}" [percentageConfig]="statisticsPercentageArray[i]" [config]="cake"></app-statistics-cake>
  </div>
</ng-template>

<!--
  [percentageConfig]=""
-->